/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.hide {
    display: none;
  }
  .show {
    display: flex;
  }
  .border-b-links{
      border-bottom: 0.1px solid rgb(203, 206, 204);
      transition: all .5s;
  }
  .border-t{
      border-top: 2px solid rgb(114, 167, 236);
  }
  .ul-nav{
      transition: all ease-in;
  }
  .max-w-screen{
      max-width: 1100px;
  }
  .border-radius{
      border-radius: 50%;
  }




