/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.hide {
  display: none;
}
nav {
  padding: 20px 30px;
}
.show {
  display: flex;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-container {
  height: 10rem;
}
.border-b-links {
  border-bottom: 0.1px solid rgb(203, 206, 204);
  transition: all 0.5s;
}
.border-t-nav {
  border-top: 1px solid rgb(114, 167, 236);
}
.transit {
  transition: all 0.5s linear;
}
.links-height {
  height: 401px;
}
.max-w-screen {
  max-width: 1100px;
}
.max-w-h-screen {
  max-width: 500px;
}
.max-w-h-screen2 {
  max-width: 580px;
}

.max-w-screen-speakers {
  max-width: 850px;
}
.max-w-screen-landing {
  max-width: 700px;
}
.mb-zero {
  margin-bottom: 0 !important;
}
.mt-zero {
  margin-top: 0 !important;
}
.border-radius {
  border-radius: 50%;
}
.section-relative {
  position: relative;
}
.about-rounded-yellow {
  top: 5rem;
  left: 20%;
}
.about-rounded-pink {
  top: 50%;
  right: 10rem;
  opacity: 0.4;
}
.about-square-blue {
  top: 50%;
  left: 10rem;
}
.about-rounded-purple {
  bottom: 2rem;
  left: 25%;
  opacity: 0.4 !important;
}
.about-square-pink {
  top: 6rem;
  right: 40%;
  opacity: 0.4;
}
.overlay-black {
  background-color: rgba(0, 0, 0, 0.781);
}
.top-overlay {
  position: relative;
}
.bottom-overlay {
  position: relative;
}
.top-overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.719),
    rgb(0, 0, 0)
  );
  transform: rotate(180deg);
}
.bottom-overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 27.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.719),
    rgb(0, 0, 0)
  );
  /* transform: rotate(180deg); */
}

@media screen and (min-width: 800px) {
  .about-rounded-yellow {
    top: 6rem;
    left: 20%;
    opacity: 0.7;
  }
  .about-rounded-purple {
    bottom: 2rem;
    left: 35%;
  }
  .about-rounded-purple {
    bottom: 2rem;
    left: 25%;
    opacity: 0.5 !important;
  }
}
.virtual {
  background: dot black;
}
.rounded-semi-full {
  border-radius: 50% 50% 0 50%;
}
.w-144 {
  width: 36rem;
}
.w-screen-full {
  width: 1536px;
}
.translate-x {
  animation: bounce 0.2s ease-in-out normal;
  animation-fill-mode: forwards;
}
@keyframes bounce {
  0% {
    transform: translateX(0rem);
  }

  100% {
    transform: translateX(1rem);
  }
}
.rem {
  top: 1.1rem;
}
.test {
  color: red;
}
.bg-home {
  background-position-x: center;
  background-position-y: bottom;
}

.bg-center-top {
  background-position-x: center;
  background-position-y: top;
}
.bg-pos {
  background-position: 50%;
  /* background-size: 100%; */
}
.bg-pos-pricing {
  background-position-x: 50%;
  background-position-y: center;
}
.h-speakers {
  height: 40rem !important;
}
.h-95{
  height: 86vh;
}
@media screen and (min-width: 800px) {
  nav {
    padding: unset;
  }
}
